# Backend API & Models
fastapi
uvicorn[standard]
pydantic
email-validator
python-dotenv
torch
transformers
accelerate>=1.1.0
scikit-learn
numpy
pandas
pyarrow
requests
gunicorn
psycopg2-binary
sqlalchemy
python-jose
PyJWT
passlib[bcrypt]
python-multipart
pytest
slowapi
psutil
